body {
  font: 16px/1.5 PingFang SC,Helvetica Neue,Helvetica,STHeiTi,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1;
  background-color: #f7f7f7;
}
input, label, select, option, textarea, button, fieldset, legend { 
  font: 16px/1.5 PingFang SC,Helvetica Neue,Helvetica,STHeiTi,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1;
}
.main-container{
    padding-top: 70px;
    padding-bottom: 30px;
}
.post{
  padding-top: 70px;
}